name: Check compilation

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Install Go
      uses: actions/setup-go@v6.0.0

    - name: Install Go Corset
      shell: bash
      run: go install github.com/consensys/go-corset/cmd/go-corset@fb1aebd7f532e8940bc18feeedf3600d4bb5006f # v1.1.28

    - name: Build all forks
      run: make -B all
